/* all.scss */

@import "normalize";
@import "reset";

body {
	font-family: "lores-28", mono-spaced, serif;
	font-size: 94px;
	font-weight: 500;
	line-height: 1em;
	color: black;
	background-color: #FFD3D3;
}

.wrapper {
	margin: 10% 25% 10% 10%;
}

a {
	text-decoration: none;
	&:hover {
		background-color: white;
	}
	&:active {
		background-color: black;
		color: white;
	}
	&:visited { 
    		text-decoration: line-through;
	}
}

p {
	line-height: 1em;
	margin-bottom: 30px;
}

img {
	margin-bottom:10%;
}
