/* all.scss */

@import "normalize";
@import "reset";
$break-large:  1000px;
$break-medium: 680px;

body {
	font-family: "adelle-sans", sans-serif;
	font-size: 52px;
	line-height: 1.4em;
	font-weight: 300;
	color: #806EFF;
	background-color: white;
	@media all and (max-width: $break-large) {
		font-size: 22px;
	}
}

.wrapper {
	margin: 10% 20% 10% 10%;
	@media all and (max-width: $break-large) {
		margin: 14% 8%;
	}
}

a {
	opacity: 1;
	color: #442BF5;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		color: pink;
	}
}

p {
	margin-bottom: 30px;
}

img {
	margin-bottom:10%;
}
