/* all.scss */

@import "normalize";
@import "reset";
$break-large:  1000px;
$break-medium: 680px;
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 24px;
	line-height: 1.4em;
	font-weight: 400;
	color: #806EFF;
	background-color: white;
	@media all and (max-width: $break-large) {
		font-size: 22px;
	}
}
.intro {
	height: 280px;
	margin: 10% 40% 10% 10%;
		@media all and (max-width: $break-large) {
		height: 120px;
		margin: 14% 8%;
	}
}
#typed {
	font-size: 92px;
	line-height: 1.1em;
	font-weight: 800;
	@media all and (max-width: $break-large) {
		font-size: 32px;
	}
}
.wrapper {
	z-index: 99;
	margin: 0 50% 0 10%;
	@media all and (max-width: $break-large) {
		margin: 150px 8% 14%;
	}
}
a {
	opacity: 1;
	color: #442BF5;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		color: pink;
	}
}
p {
	margin-bottom: 30px;
}
img.no-ergonimics {
	z-index: 1;
	position: fixed;
	bottom: 0;
	right: 5%;
	width: 500px;
	@media all and (max-width: $break-large) {

	}
}
